/* --- Minimal CSS Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-neutral);
}

/* Farbvariablen */
:root {
  --primary: #C6271A;
  --foreground-light: #fff;
  --foreground-dark: #2C2B30;
  --background-dark: #2C2B30;
  --background-light: #fff;
  --background-neutral: #F0F1F3


  /* Spacing */
  /* Spacing (8px Schritte) */
  --space-1: 0.5rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 3.5rem;
  --space-8: 4rem;
}

/* Typografie */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--foreground-dark);
    background-color: var(--background-light);
    margin: 0;
    padding: 0;
  }
  
  /* Überschriften */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 0.1px;
    color: var(--foreground-dark);
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  /* Links */
  a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;
  }
  
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  
  
  /* Listen */
  ul, ol {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 1.5rem;
  }