/* Header-Komponente */
#header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: var(--space-1) var(--space-3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    gap: var(--space-1);
}

    /* Logo-Container */
    #logo-container {
        display: flex;
        align-items: center;
        background: white;
        border-radius: var(--radius-md);
        height: 4.5rem;
        padding: 0 var(--space-2) 0 var(--space-2);
        box-shadow: var(--shadow-light)
    }
        .logo-desktop {
            display: block;
            min-height: 3rem;
        }
        .logo-mobile {
            display: none;
            min-height: 3rem;
        }

    /* Navigation */
    #main-nav {
        ul {
            display: flex;
            gap: var(--space-1);
            list-style: none;
            margin: 0;
            padding: 0 var(--space-2) 0 var(--space-2);
            height: 4.5rem;
            align-items: center;
            background: var(--background-light);
            border-radius: var(--radius-md);
            box-shadow: var(--shadow-light)
        }

        li {
            a {
                padding: var(--space-1) var(--space-1);
                border-radius: var(--radius-sm);
                text-decoration: none;
                white-space: nowrap;
            }

            a:hover {
                border-bottom: 2px solid var(--primary);
                border-radius: 0px;
            }

            a[aria-current="page"] {
                background-color: var(--primary);
                color: white;
                border-bottom: 0px;
                border-radius: var(--radius-sm);
                cursor: default;
            }
        }
    }

    /* Menü-Button */
    #menu-toggle {
        display: none;
        font-size: 24px;
        background: var(--background-light);
        border-radius: var(--radius-md);
        height: 4.5rem;
        width: 4.5rem;
        box-shadow: var(--shadow-light);
        border: none;
        cursor: pointer;
        z-index: 1000;
    }

    #menu-toggle:hover {
        background: var(--background-neutral);
        border: 1px solid var(--foreground-light);
    }

    /* Mobile Styles */
    @media (max-width: 768px) {
        /* Logo für mobile Ansicht */
        #logo-container .logo-desktop {
            display: none;
        }

        #logo-container .logo-mobile {
            display: block;
        }

        /* Menü-Button für mobile Ansicht */
        #menu-toggle {
            display: block;
        }

        /* Menü anzeigen, wenn "active"-Klasse hinzugefügt wird */
        #main-nav.active ul {
            display: flex;
        }
        #main-nav.active{
            display: flex;
            right: 0rem;
        }

        /* Mobile Navigation */
        #main-nav {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: var(--background-dark);
            opacity: 95%;
            transition: right 0.5s ease;
            z-index: 900;
          }

        #main-nav ul {
            flex-direction: column;
            height: 100%;
            width: 100%;
            background-color: transparent;
            padding-top: 6rem;
            gap: var(--space-2);
            cursor: default;
        }

        #main-nav ul li {
            width: 100%;
        }

        #main-nav ul li a {
            color: var(--foreground-light);
            display: block;
            text-align: center;
        }
    }

/* Footer-Komponente */
#footer {
    background-color: var(--primary);
    color: var(--foreground-light);
    padding: var(--space-4) var(--space-2);
    margin-top: var(--space-8);

    & .row {
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--space-4);
        max-width: 1280px;

        & .column {
            flex: 1 1 auto;
            text-align: left;

            h4 {
                margin-bottom: var(--space-2);
                color: var(--foreground-light);
            }

            a {
                color: var(--foreground-light);
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }

            p {
                margin: 0;
            }
        }
    }
}

/* Button-Komponente */
.btn {
    display: inline-block;
    padding: var(--space-1) var(--space-2);
    background-color: var(--primary);
    color: var(--foreground-light);
    border-radius: 1000000px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: none;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%), var(--primary);
    ;
    text-decoration: none;
}
.btn:focus-visible {
    outline: 2px solid var(--foreground-dark);
    outline-offset: 2px;
}

.btn:active {
    background-color: var(--primary);
}

/* Card-Komponente */
.card {
    background: var(--background-light);
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    & .card-content {
        padding: var(--space-2);
    }

    & img {
        border-radius: 16px 16px 0px 0px;
    }
}

/* Intro-Image-Komponente */
.intro-image {
    width: 100%;
    height: 240px;
    overflow: hidden;
    margin-bottom: var(--space-2);
  }
  
  .intro-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }


  /* Article-Komponente */
article {
width: 100%;
display: flex;
max-width: 1280px;
margin: 0 auto;  
justify-content: center;
align-items: center;
margin-bottom: var(--space-6);

    & .panel {
    flex: 2;
    border: 2px solid var(--foreground-dark);
    border-radius: 8px;
    padding: var(--space-2);
    }

    & .article-image {
        flex: 1;
        overflow: hidden;
        border-radius: 8px;
        min-width: 300px;
      }
      
        & .article-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
}