.hero {
background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.8)),url('../assets/img/DSC07056-scaled-1-scaled.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
min-height: 25vw;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 200px;

    & .container {
        margin-bottom: -19%;
        padding-top: 100px;
    }

        & h1 {
            color: var(--foreground-light);
        }

        & p {
            padding: var(--space-2);
            max-width: 800px;
            margin: 0 auto;

        }
}

.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-3);
}

section {
    margin-bottom: 200px;
}

#p-parents-feedback {
    text-align: center;
    padding-bottom: var(--space-3);
}

.panel {
    display: flex;
    gap: var(--space-2);
    background-color: var(--foreground-light);
    border: 2px solid var(--foreground-dark);
    border-radius: 8px;
}