/* Max Content Width Content Container */
.container {
    max-width: 1280px;
    margin: var(--space-4) auto var(--space-4) auto;
    padding: var(--space-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-2);
  }

.section-dark {
  background-color: var(--background-dark);
}
.h2-dark {
    color: var(--foreground-light);
    padding-top: var(--space-3);
  }
.subtitle-dark {
    color: var(--foreground-light);
    text-align: center;
  }
  
/* Icons */
  .icon {
    vertical-align: middle;
    font-size: 32px;
    margin-top: -4px;
    color: var(--foreground-dark);
  }

/* Breakpoints */

/* sm: 0 - 480px */
@media (min-width: 0px) and (max-width: 480px) {
  h1 {
      font-size: 3rem;
    }
  .event-card img {
    display: none;
  }
  .card-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
    width: 100%;
  }
  .card-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--space-2);
    width: 100%;
  }
  .card-image img {
    height: 20vh;
    object-fit: cover;
    width: 100%;
  }
  article {
    flex-direction: column;
  }
}

/* md: 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
  h1 {
      font-size: 3rem;
    }
  .event-card img {
    display: none;
  }
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-2);
    width: 100%;
  }
  .card-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--space-2);
    width: 100%;
  }

  .card-image img {
    height: 25vh;
    object-fit: cover;
    width: 100%;
  }

  article {
      flex-direction: column;
  }
}

/* lg: 769px - 1279px */
@media (min-width: 769px) and (max-width: 1279px) {
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-2);
    flex-wrap: wrap;
    width: 100%;
  }
  .card-row {
      display: flex;
      flex-direction: row;
      gap: var(--space-2);
      flex-wrap: nowrap;
      width: 100%;
    }
  .card-image img {
    height: 30vh;
    object-fit: cover;
    width: 100%;
  }
}

/* xl: ab 1280px */
@media (min-width: 1280px) {
  .card-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--space-2);
    flex-wrap: wrap;
    width: 100%;
  }
  .card-row {
      display: flex;
      flex-direction: row;
      gap: var(--space-2);
      flex-wrap: nowrap;
      width: 100%;
    }
  .card-image img {
    height: 30vh;
    object-fit: cover;
    width: 100%;
  }
}